p {
	margin: 70px;
}

img {
	display: inline;
}

.titre{
	color: #C7EA1B;
	font-size: 60px; 
	font-weight: bold; 
	text-shadow: 3px 3px 1px black; 
}

.memoire {
	font-size: 48px; 
	text-decoration: underline;
	text-align: center;
	color: white;
	text-shadow: 3px 3px 1px black; 
}


body { 
	background-color: pink; 
	font-family: Verdana, sans-serif; 
	font-size: 100%;
	margin: 70px;
	text-align: justified;
}